<header class="header-title">
  <h2>LISTA DE TAREAS</h2>
</header>
<main>
  <small id="todo-counter">Tareas: <span id="todo-numer">0</span></small>
  <section class="input-filter-section">
    <input id="todo-input" type="text" placeholder="Escribe tu proxima tarea" />
    <select name="filter-select" id="filter-select">
      <option value="all">Todo</option>
      <option value="pending">Pendiente</option>
      <option value="completed">Completado</option>
    </select>
    <button id="delete-completed-button">Borrar completadas</button>
  </section>

  <section class="todo-section">
    <!-- <article class="full-todo-element completed" data-id="123">
            <span">Mi primera tarea</span>
        </article> -->
  </section>
</main>
